[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gcsa = "*"
beautiful-date = "*"
homeassistant-api = "*"
pytz = "*"
argparse = "*"
pyyaml = "*"
pyinstaller = "*"
requests = "*"

[dev-packages]
pyinstaller = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.6"
